<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>CityRun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-checkbox (click)="checkSight($event)"></ion-checkbox>
      <ion-label>
        <h3>Amalienborg</h3>
        <p>bla bla bla</p>
      </ion-label>
      <ion-button item-end fill="clear" color="primary">View</ion-button>
    </ion-item>
    <ion-item>
      <ion-checkbox (click)="checkSight($event)"></ion-checkbox>
      <ion-label>
        <h3>Amalienborg</h3>
        <p>bla bla bla</p>
      </ion-label>
      <ion-button item-end fill="clear" color="primary">View</ion-button>
    </ion-item>
    <ion-item>
      <ion-checkbox (click)="checkSight($event)"></ion-checkbox>
      <ion-label>
        <h3>Amalienborg</h3>
        <p>bla bla bla</p>
      </ion-label>
      <ion-button item-end fill="clear" color="primary">View</ion-button>
    </ion-item>
  </ion-list>

  <ion-button [disabled]="!sightChecked" color="secondary" class="generate-button">Generate</ion-button>

</ion-content>
