ion-content {

    ion-list {
        overflow: scroll;
        height: 90%;
    }

    .generate-button {
        position: fixed;
        bottom: 20px;
        width: 90%;
    }

    ion-checkbox{
        margin-right: 10px;
        --size: 20px;
    }

    .checkbox{
        display: flex;
    }

    .view-button{
        z-index: 1000;
    }

    .list-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

