<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title id="title" color="light">CityRun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 text-center class="page-header">Select sights</h2>
  <ion-list>
    <ion-item *ngFor="let sight of sights">
      <div class="list-item">
        <div class="checkbox">
          <ion-checkbox (click)="checkSight($event, sight)"></ion-checkbox>
          <ion-label>
            <h3>{{sight.name}}</h3>
            <p>Rating: {{sight.rating}}</p>
          </ion-label>
        </div>
        <div class="view-button">
          <ion-button (click)="viewInfo(sight)" item-end fill="clear" color="primary">View</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="navigateToOverviewPage()" [disabled]="!sightChecked" color="secondary" class="generate-button">Generate</ion-button>
</ion-content>
