<ion-content class="popover">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="close()" size="small">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="img" [ngStyle]="{'background-image':'url('+thumbnail+')'}"></div>
  <div class="text-box">
    <h4>{{ sightName }}</h4>
    <h5>{{ originalName }}</h5>
    <p>{{ description }}</p>
    <div class="badges">
      <ion-badge class="badge" color="secondary" *ngFor="let tag of tags">{{ tag }}</ion-badge>
    </div>
    <ion-button (click)="readMoreOnExternalLink()" fill="clear" size="small" slot="start" color="primary">Read more</ion-button>
  </div>
</ion-content>
  
  


