.popover {
    padding: 15px;
}

h4 h5 {
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

.badges {
    margin-left: 10px;
    margin-bottom: 10px;
}

.badge {
    margin-right: 2px;
    margin-bottom: 2px;
}

ion-icon {
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

ion-fab {
    top: -20px;
    right: -20px;
}