.popover {
    padding: 15px;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
}

.text-box {
    padding: 10px;
}

h5 {
    margin-top: 0px;
}

.badges {
    margin-bottom: 10px;
}

.badge {
    margin-right: 2px;
    margin-bottom: 2px;
}

ion-icon {
    font-size: 25px;
}

ion-fab {
    top: -2px;
    left: -2px;
}

ion-button {
    --padding-start: 0px;
    margin-top: 0px;
}