<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
      </ion-buttons>
    <ion-title color="light">CityRun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #map id="map">
  </div>

  <ion-button (click)="stopTrackingAlert()" expand="block" color="danger" class="end-run-button">End run</ion-button>
  <div id="sights">
    <div class="top-info">
        <h5>{{ distance }} km <ion-icon color="danger" name="flag"></ion-icon></h5>
        <h5>Your position <img class="position-icon" src="../../../assets/icon/position.png"/></h5>    
    </div>
   <h5>{{ sights.length }} sights selected:</h5>
    <ion-button (click)="run()" expand="block" color="secondary" class="run-button">Run</ion-button>
    
    <ion-list>
      <ion-item *ngFor="let sight of sights">
        <img class="point-of-interest-icon" src = "../../../assets/icon/point_of_interest.png"/>
        <ion-label>
          <h3>{{ sight.name }}</h3>
          <p>{{ sight.originalName }}</p>
        </ion-label>
        <div class="view-button">
          <ion-button (click)="viewInfo(sight)" item-end fill="clear" color="primary">View</ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <h5 id="directions-header">Directions: </h5>
  
  <ion-card>
      <ion-card-content>
        <div #directionsPanel>
        </div>
      </ion-card-content>
  </ion-card>

  <ion-fab class="fab" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleDirections()">
      <ion-icon class="up-icon" name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
