<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
      </ion-buttons>
    <ion-title color="light">CityRun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #map id="map"></div>
  <div id="sights">
    <h5>Distance: {{ distance }} km</h5>
    <h5>{{ sights.length }} sights selected:</h5>
    <ion-list>
      <ion-item *ngFor="let sight of sights">
        <ion-label>
          {{ sight.name }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-card>
    <ion-card-content>
      <div #directionsPanel></div>
    </ion-card-content>
  </ion-card>
</ion-content>
