
#map{
    width: 100%;
    height: 70%;
}

#sights{
    width: 100%;
}

#directionsPanel{
    position: absolute;
    z-index: 1;
}

ion-card-content {
    max-height: 300px;
    overflow: scroll;
}

.run-button {
    position: fixed;
    bottom: 20px;
    width: 90%;
    z-index: 1000;
}

.end-run-button{
    position: fixed;
    bottom: 20px;
    width: 90%;
    display: none;
    z-index: 1000;
}

.fab {
    display: none;
    position: absolute;
    right: 0px;
    top: 180px;
}

