.country-card {
    height: 200px;
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.country-card.copenhagen {
    background-image: url(../../../assets/img/copenhagen.jpg);
    opacity: 0.8;
}

.country-card.berlin {
    background-image: url(../../../assets/img/berlin.jpg);
    opacity: 0.6; 
}

.country-card.london {
    background-image: url(../../../assets/img/london.jpg);
    opacity: 0.6; 
}

.page-header {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: larger;
    color: #686868;
}

ion-card-header {
    margin-top: 60px;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 5px;
}

ion-card-subtitle {
    color: white;
    font-weight: bolder;
    font-size: small;
}




