<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      CityRun
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-title text-center class="page-header">Select a city</ion-title>
  <ion-card class="country-card copenhagen">
    <ion-card-header text-center>Copenhagen</ion-card-header>
    <ion-card-subtitle text-center>10 sights</ion-card-subtitle>
  </ion-card>
  <ion-card class="country-card">
    <ion-card-header text-center>Amsterdam</ion-card-header>
    <ion-card-subtitle text-center>8 sights</ion-card-subtitle>
  </ion-card>
  <ion-card class="country-card">
    <ion-card-header text-center>Berlin</ion-card-header>
    <ion-card-subtitle text-center>12 sights</ion-card-subtitle>
  </ion-card>
</ion-content>
