<ion-header class="bg-style">
  <ion-toolbar color="primary" class="bg-style">
    <ion-title text-center>
      CityRun
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="tertiary" class="bg-style">
  <h2 text-center class="page-header">Select a city</h2>
  <ion-card class="country-card copenhagen">
    <ion-card-header text-center>Copenhagen</ion-card-header>
    <ion-card-subtitle text-center>10 sights</ion-card-subtitle>
  </ion-card>
  <ion-card class="country-card berlin">
    <ion-card-header text-center>Berlin</ion-card-header>
    <ion-card-subtitle text-center>Coming soon</ion-card-subtitle>
  </ion-card>
  <ion-card class="country-card london">
    <ion-card-header text-center>London</ion-card-header>
    <ion-card-subtitle text-center>Coming soon</ion-card-subtitle>
  </ion-card>
</ion-content>
