<ion-header>
  <ion-toolbar>
    <ion-title text-center color="light">
      <img class="logo" src="../../../assets/icon/CityRun.png">
      CityRun
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 text-center class="page-header">Select a city</h2>
  <ion-card class="country-card copenhagen" (click)="navigateToSightsPage()">
    <ion-card-header text-center>Copenhagen</ion-card-header>
    <ion-card-subtitle text-center>23 sights</ion-card-subtitle>
  </ion-card>
  <ion-card class="country-card berlin">
    <ion-card-header text-center>Berlin</ion-card-header>
    <ion-card-subtitle text-center>Coming soon</ion-card-subtitle>
  </ion-card>
  <ion-card class="country-card london">
    <ion-card-header text-center>London</ion-card-header>
    <ion-card-subtitle text-center>Coming soon</ion-card-subtitle>
  </ion-card>
</ion-content>
